/* :host ::ng-deep { 
    border: 1px solid;
    height: 30px;
    width: 30px;
    font-size: small;
    background-color: silver;
    cursor: pointer;
  } */

.cell div{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cell {
    border: 1px solid;
    font-size: small;
     
 }


.mine {
    background-color: white;
    color: black;
    cursor: default;
    background-image: url('../../../assets/cat.png');
    background-repeat: no-repeat;
}

.flag {
    background-color: silver;
    color: silver;
    border-color: black;
    background-image: url('../../../assets/flag.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.empty {
    background-color: white;
    color: black;
    cursor: default;
}

.lost {
    background-color: hotpink!important;
    transition: background-color 500ms linear;
}

.covered {
    background-color: silver;
    color: silver;
    border-color: black;
    cursor: pointer;
}