.grid span{
    border: 1px solid;
    height: 30px;
    width: 30px;
    font-size: small;
}

.grid-container {
    margin: 0 auto;
    /* width: 40%; */
}

.model-debug {
    margin: 20px auto;
    width: 40%;
}