<div class="grid-container" [style.width.px]="gridSize">
  <div *ngFor="let row of model.state" class="row grid">
      <app-cell *ngFor="let cell of row" [model]="cell" [class.cell]="true"
                                                        [class.covered]="cell.state === 0"
                                                        [class.empty]="cell.state === 1 && !cell.hasMine"
                                                        [class.mine]="cell.state === 1 && cell.hasMine"
                                                        [class.flag]="cell.state === 2"
                                                        >
      </app-cell>
  </div>
</div>
<!-- <div class="model-debug">
  {{this.model | json}}
</div> -->